configuration {
  display-drun: "Applications: ";
  display-window: "Windows: ";
  drun-display-format: "{name}";
  font: "JetBrainsMono Nerd Font Medium 11";
  modi: "window";

  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "/usr/share/rofi/themes/sidebar.rasi"
// @theme "/dev/null"

* {
  bg: #11121D;
  bg-alt: #444b6a;

  fg: #FFFFFF;
  fg-alt: #787c99;

  // background-color: @bg;

  border: 0;
  margin: 0;
  padding: 0;
  spacing: 0;
}
